{
  "openapi": "3.0.0",
  "x-stoplight": {
    "id": "n4bkzhawk5bz4"
  },
  "info": {
    "title": "Pope Tech",
    "version": "1.0",
    "termsOfService": "https://app.pope.tech/terms",
    "contact": {
      "name": "Pope Tech Support",
      "url": "https://pope.tech/contact"
    },
    "description": ""
  },
  "servers": [
    {
      "url": "https://api.pope.tech",
      "description": "Production"
    }
  ],
  "paths": {
    "/": {
      "get": {
        "summary": "API Status",
        "tags": [
          "General"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string"
                    },
                    "version": {
                      "type": "string"
                    },
                    "environment": {
                      "type": "string"
                    },
                    "maintenance_mode": {
                      "type": "boolean"
                    }
                  }
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "name": "Pope Tech API",
                      "version": "v1.0",
                      "environment": "production",
                      "maintenance_mode": false
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/me": {
      "get": {
        "summary": "Get User Info",
        "tags": [
          "General"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "public_id": {
                          "type": "string"
                        },
                        "first_name": {
                          "type": "string",
                          "deprecated": true
                        },
                        "last_name": {
                          "type": "string",
                          "deprecated": true
                        },
                        "name": {
                          "type": "string"
                        },
                        "email": {
                          "type": "string"
                        },
                        "is_shibboleth": {
                          "type": "string"
                        },
                        "shibboleth_unique_identifier": {
                          "type": "string"
                        },
                        "reset_password": {
                          "type": "string"
                        },
                        "created_at": {
                          "type": "string"
                        },
                        "updated_at": {
                          "type": "string"
                        },
                        "last_seen_at": {
                          "type": "string"
                        },
                        "permissions": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string"
                              },
                              "key": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "organizations": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "org-slug": {
                                "type": "object",
                                "properties": {
                                  "public_id": {
                                    "type": "string"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "slug": {
                                    "type": "string"
                                  },
                                  "state": {
                                    "type": "string"
                                  },
                                  "limit_scans": {
                                    "type": "boolean"
                                  },
                                  "limit_crawls": {
                                    "type": "boolean"
                                  },
                                  "limit_pages": {
                                    "type": "boolean"
                                  },
                                  "scan_limit": {
                                    "type": "string"
                                  },
                                  "crawl_limit": {
                                    "type": "string"
                                  },
                                  "active_page_limit": {
                                    "type": "string"
                                  },
                                  "min_active_pages": {
                                    "type": "string"
                                  },
                                  "status": {
                                    "type": "string"
                                  },
                                  "status_message": {
                                    "type": "string"
                                  },
                                  "cancelled_at": {
                                    "type": "string"
                                  },
                                  "created_at": {
                                    "type": "string"
                                  },
                                  "updated_at": {
                                    "type": "string"
                                  },
                                  "permissions": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "name": {
                                          "type": "string"
                                        },
                                        "key": {
                                          "type": "string"
                                        },
                                        "type": {
                                          "type": "string"
                                        }
                                      }
                                    }
                                  },
                                  "role": {
                                    "type": "string"
                                  },
                                  "group": {
                                    "type": "object",
                                    "properties": {
                                      "public_id": {
                                        "type": "string"
                                      },
                                      "name": {
                                        "type": "string"
                                      },
                                      "created_at": {
                                        "type": "string"
                                      },
                                      "updated_at": {
                                        "type": "string"
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        },
                        "token_metadata": {
                          "type": "string"
                        },
                        "settings": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "key": {
                                "type": "string"
                              },
                              "value": {
                                "type": "string"
                              },
                              "is_encrypted": {
                                "type": "boolean"
                              },
                              "created_at": {
                                "type": "string"
                              },
                              "updated_at": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "data": {
                        "public_id": "3197ee89-c401-4d07-9031-5717ff97d536",
                        "first_name": "",
                        "last_name": "",
                        "name": "Gordon Thompson",
                        "email": "gordon.thompson@example.com",
                        "is_shibboleth": 0,
                        "shibboleth_unique_identifier": null,
                        "reset_password": 0,
                        "created_at": "2020-07-01T17:00:33.000000Z",
                        "updated_at": "2020-08-04T16:50:48.000000Z",
                        "last_seen_at": "2020-08-04T16:50:48.255231Z",
                        "organizations": {
                          "org-1": {
                            "public_id": "773cf941-1cb4-47b5-96b9-49dcbc44af51",
                            "name": "Org 1",
                            "slug": "org-1",
                            "state": "UT",
                            "limit_scans": 0,
                            "limit_crawls": 0,
                            "limit_pages": 1,
                            "scan_limit": 5000,
                            "crawl_limit": 5000,
                            "active_page_limit": 1000,
                            "min_active_pages": 5,
                            "status": "active",
                            "status_message": null,
                            "cancelled_at": null,
                            "created_at": "2020-05-29T21:43:01.000000Z",
                            "updated_at": "2020-08-04T16:14:47.000000Z",
                            "permissions": [
                              {
                                "name": "Manage Groups",
                                "key": "organization:groups:manage",
                                "type": "organization"
                              },
                              {
                                "name": "Manage Roles",
                                "key": "organization:roles:manage",
                                "type": "organization"
                              },
                              {
                                "name": "Manage Scans",
                                "key": "organization:scans:manage",
                                "type": "organization"
                              },
                              {
                                "name": "Manage Settings",
                                "key": "organization:settings:manage",
                                "type": "organization"
                              },
                              {
                                "name": "Manage Users",
                                "key": "organization:users:manage",
                                "type": "organization"
                              },
                              {
                                "name": "Manage Websites",
                                "key": "organization:websites:manage",
                                "type": "organization"
                              },
                              {
                                "name": "View Organization",
                                "key": "organization:view",
                                "type": "organization"
                              }
                            ],
                            "role": "Role 1",
                            "group": {
                              "public_id": "d59b46ef-15e6-4041-86c1-7551ec96e63c",
                              "name": "Group 1",
                              "created_at": "2020-05-29T21:43:01.000000Z",
                              "updated_at": "2020-05-29T21:43:01.000000Z"
                            }
                          }
                        },
                        "token_metadata": null,
                        "settings": [
                          {
                            "key": "visible_table_columns",
                            "value": "{\"dashboard-scan-details\":[{\"property\":\"Name\",\"visible\":true},{\"property\":\"Errors\",\"visible\":true},{\"property\":\"Contrast\",\"visible\":true},{\"property\":\"Alerts\",\"visible\":true},{\"property\":\"Pages\",\"visible\":true},{\"property\":\"Details\",\"visible\":true}],\"scan-crawlers\":[{\"property\":\"Website\",\"visible\":true},{\"property\":\"Pages Found\",\"visible\":false},{\"property\":\"Pages Added\",\"visible\":true},{\"property\":\"Last Updated\",\"visible\":true},{\"property\":\"Status\",\"visible\":false},{\"property\":\"Website Details\",\"visible\":true}]}",
                            "is_encrypted": 0,
                            "created_at": "2020-07-01T17:01:23.000000Z",
                            "updated_at": "2020-07-01T17:01:26.000000Z"
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "Authorization"
          }
        ]
      }
    },
    "/organizations/{organizationSlug}/websites": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "organizationSlug",
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "summary": "List Websites",
        "tags": [
          "Websites"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "public_id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "full_url": {
                            "type": "string"
                          },
                          "notes": {
                            "type": "string"
                          },
                          "hostname": {
                            "type": "string"
                          },
                          "protocol": {
                            "type": "string"
                          },
                          "scan_count": {
                            "type": "string"
                          },
                          "all_pages_count": {
                            "type": "string"
                          },
                          "active_pages_count": {
                            "type": "string"
                          },
                          "group_id": {
                            "type": "string"
                          },
                          "group_name": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  }
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "data": [
                        {
                          "public_id": "e7d1b0bb-23fe-405b-a973-425814834da7",
                          "name": "https://www.pope.tech",
                          "full_url": "https://www.pope.tech",
                          "notes": null,
                          "hostname": "www.pope.tech",
                          "protocol": "https",
                          "scan_count": "27",
                          "all_pages_count": "51",
                          "active_pages_count": "6",
                          "group_id": "b4f0ac96-ad5e-4fc8-b2f0-bdcbaaa51328",
                          "group_name": "Group 2"
                        },
                        {
                          "public_id": "e845a39f-54f5-4f46-a332-920e9743cf15",
                          "name": "http://sample-one.test",
                          "full_url": "http://sample-one.test",
                          "notes": null,
                          "hostname": "sample-one.test",
                          "protocol": "http",
                          "scan_count": "52",
                          "all_pages_count": "5",
                          "active_pages_count": "5",
                          "group_id": "99272a0c-dc2c-48e9-b369-f7402bbdf177",
                          "group_name": "Group 1"
                        }
                      ],
                      "meta": {
                        "pagination": {
                          "current_page": 1,
                          "from": 1,
                          "last_page": 1,
                          "path": "https://api.pope.tech/organizations/pope-tech/websites",
                          "per_page": 10,
                          "to": 2,
                          "total": 2,
                          "links": {
                            "first": "https://api.pope.tech/organizations/pope-tech/websites?page=1",
                            "last": "https://api.pope.tech/organizations/pope-tech/websites?page=1",
                            "previous": null,
                            "next": null
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-organizations-organizationSlug-websites",
        "description": "",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "group_filter",
            "description": "Group Public ID"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "search",
            "description": "Keyword for searching websites by name or URL"
          },
          {
            "schema": {
              "type": "boolean"
            },
            "in": "query",
            "name": "zero_pages",
            "description": "Boolean flag for retrieving websites with 0 pages"
          },
          {
            "schema": {
              "type": "boolean"
            },
            "in": "query",
            "name": "zero_scans",
            "description": "Boolean flag for retrieving websites with 0 scans"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "allPageCount",
                "activePageCount",
                "scanCount",
                "name",
                "fullUrl"
              ]
            },
            "in": "query",
            "name": "sort_by",
            "description": "Column to sort by"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "in": "query",
            "name": "page"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 250
            },
            "in": "query",
            "name": "limit"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "desc",
                "asc"
              ]
            },
            "in": "query",
            "name": "sort_direction"
          },
          {
            "schema": {
              "type": "string",
              "example": "Bearer [YOUR-ACCESS-TOKEN]"
            },
            "in": "header",
            "name": "Authorization",
            "required": true,
            "description": "Your access token\n"
          }
        ]
      },
      "post": {
        "summary": "Create a Website",
        "operationId": "post-organizations-organizationSlug-websites",
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string"
                        },
                        "full_url": {
                          "type": "string"
                        },
                        "notes": {
                          "type": "string"
                        },
                        "hostname": {
                          "type": "string"
                        },
                        "protocol": {
                          "type": "string"
                        },
                        "public_id": {
                          "type": "string"
                        },
                        "updated_at": {
                          "type": "string"
                        },
                        "created_at": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "data": {
                        "name": "https://pope.tech",
                        "full_url": "https://pope.tech",
                        "notes": null,
                        "hostname": "pope.tech",
                        "protocol": "https",
                        "public_id": "d5fc2391-3308-413f-9112-91f9021f6cf4",
                        "updated_at": "2020-08-04T16:29:39.000000Z",
                        "created_at": "2020-08-04T16:29:39.000000Z"
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity (WebDAV)",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "errors": {
                              "type": "object",
                              "properties": {
                                "url": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  ],
                  "type": "object"
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "data": {
                        "errors": {
                          "url": "The website URL is invalid or it cannot be reached."
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string",
              "example": "Bearer [YOUR-ACCESS-TOKEN]"
            },
            "in": "header",
            "name": "Authorization",
            "description": "Your access token",
            "required": true
          }
        ],
        "tags": [
          "Websites"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Name for the website. Defaults to the full_url value"
                  },
                  "full_url": {
                    "type": "string"
                  },
                  "skip_url_redirect": {
                    "type": "boolean",
                    "description": "This flag will skip any URL validation. Skipping URL validation may cause unexpected behavior."
                  },
                  "notes": {
                    "type": "string"
                  },
                  "crawl_options": {
                    "$ref": "#/components/schemas/CrawlOptions"
                  },
                  "scan_options": {
                    "$ref": "#/components/schemas/ScanOptions"
                  },
                  "authentication_options": {
                    "$ref": "#/components/schemas/AuthenticationOptions"
                  },
                  "allow_duplicates": {
                    "type": "boolean",
                    "default": "true"
                  }
                },
                "required": [
                  "full_url"
                ]
              }
            }
          },
          "description": ""
        }
      }
    },
    "/organizations/{organizationSlug}/scans/{type}/{entityPublicId}": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "organizationSlug",
          "in": "path",
          "required": true
        },
        {
          "schema": {
            "type": "string",
            "enum": [
              "websites",
              "groups"
            ]
          },
          "name": "type",
          "in": "path",
          "required": true,
          "description": "Type of scan"
        },
        {
          "schema": {
            "type": "string"
          },
          "name": "entityPublicId",
          "in": "path",
          "required": true,
          "description": "Public ID for website or group to be scanned"
        }
      ],
      "post": {
        "summary": "Start a Scan",
        "operationId": "post-organizations-organizationSlug-scans-type-entityPublicId",
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": [
                        "scans"
                      ],
                      "properties": {
                        "scans": {
                          "type": "array",
                          "uniqueItems": true,
                          "minItems": 1,
                          "items": {}
                        }
                      }
                    },
                    "errors": {
                      "type": "array",
                      "x-stoplight": {
                        "id": "7sv6cf51aoutm"
                      },
                      "items": {}
                    }
                  },
                  "required": [
                    "data",
                    "errors"
                  ]
                },
                "examples": {
                  "Website Scan": {
                    "value": {
                      "data": {
                        "scans": [
                          {
                            "public_id": "string"
                          }
                        ],
                        "errors": []
                      }
                    }
                  },
                  "Group Scan": {
                    "value": {
                      "data": {
                        "scans": [],
                        "errors": []
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity (WebDAV)",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "uniqueItems": true,
                      "minItems": 1,
                      "items": {
                        "required": [
                          "code",
                          "message"
                        ],
                        "properties": {
                          "code": {
                            "type": "string",
                            "minLength": 1
                          },
                          "message": {
                            "type": "string",
                            "minLength": 1
                          }
                        }
                      }
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "scan": {
                          "type": "object",
                          "properties": {
                            "public_id": {
                              "type": "string",
                              "minLength": 1
                            }
                          },
                          "required": [
                            "public_id"
                          ]
                        }
                      },
                      "required": [
                        "scan"
                      ]
                    }
                  },
                  "required": [
                    "errors",
                    "data"
                  ]
                },
                "examples": {
                  "A scan on this website is already running": {
                    "value": {
                      "errors": [
                        {
                          "code": "ERR-SCN-001",
                          "message": "A scan on this website is already running"
                        }
                      ],
                      "data": {
                        "scan": {
                          "public_id": "5cafafa7-83a1-4908-baef-0d4ba45ada77"
                        }
                      }
                    }
                  },
                  "Total page count must be greater than 0": {
                    "value": {
                      "errors": [
                        {
                          "code": "ERR-SCN-002",
                          "message": "Total page count must be greater than 0"
                        }
                      ],
                      "data": {
                        "websites": [
                          {
                            "public_id": "c4d949e1-5193-4beb-96bd-2b4ee2d240ff"
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "recurring": {
                    "type": "boolean",
                    "default": "false"
                  },
                  "scan_period": {
                    "type": "string",
                    "enum": [
                      "weekly",
                      "monthly",
                      "quarterly"
                    ]
                  },
                  "start_at": {
                    "type": "string",
                    "format": "date",
                    "example": "2020-06-01"
                  },
                  "generate_report": {
                    "type": "boolean",
                    "default": "false"
                  },
                  "report_type": {
                    "type": "string",
                    "enum": [
                      "summary",
                      "detail",
                      "result_detail"
                    ]
                  },
                  "report_format": {
                    "type": "string",
                    "enum": [
                      "pdf",
                      "csv",
                      "html",
                      "email"
                    ]
                  },
                  "report_result_configuration": {
                    "$ref": "#/components/schemas/ReportResultConfiguration"
                  },
                  "email_to": {
                    "$ref": "#/components/schemas/EmailTo"
                  },
                  "users": {
                    "type": "array",
                    "description": "Array of user public IDs to email report to",
                    "items": {
                      "type": "string",
                      "example": "1234-1234-1234-1234"
                    }
                  },
                  "report_region_type": {
                    "type": "string",
                    "enum": [
                      "none",
                      "all",
                      "template",
                      "content"
                    ],
                    "default": "none"
                  }
                }
              },
              "examples": {
                "Scan only": {
                  "value": {}
                },
                "Scan with report": {
                  "value": {
                    "generate_report": true,
                    "report_type": "summary",
                    "report_format": "html",
                    "users": [
                      "1234-1234-1234-1234"
                    ]
                  }
                },
                "Scan with report and scheduled scan": {
                  "value": {
                    "generate_report": true,
                    "recurring": true,
                    "scan_period": "monthly",
                    "report_type": "summary",
                    "report_format": "html",
                    "users": [
                      "1234-1234-1234-1234"
                    ]
                  }
                }
              }
            }
          },
          "description": ""
        },
        "tags": [
          "Scans"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "example": "Bearer [YOUR-ACCESS-TOKEN]"
            },
            "in": "header",
            "name": "Authorization",
            "description": "Your access token\n",
            "required": true
          }
        ],
        "description": "Start a website or group scan. \n\nGroup scans are started asynchronously, and will not return any information about started scans. "
      }
    },
    "/organizations/{organizationSlug}/scans": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "organizationSlug",
          "in": "path",
          "required": true,
          "description": ""
        }
      ],
      "get": {
        "summary": "List Scans",
        "tags": [
          "Scans"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "unparsed_duration": {
                            "type": "string",
                            "example": "00:01:35.000000"
                          },
                          "duration": {
                            "type": "string",
                            "example": "1m 35s"
                          },
                          "started_at": {
                            "type": "string",
                            "format": "date-time",
                            "example": "2020-10-10 17:56:12",
                            "description": "UTC datetime value"
                          },
                          "queued_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "UTC timestamp value",
                            "example": "2020-10-10T17:55:54.000000Z"
                          },
                          "updated_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "UTC timestamp value",
                            "example": "2020-10-10T17:55:54.000000Z"
                          },
                          "ended_at": {
                            "type": "string",
                            "format": "date-time",
                            "example": "2020-10-10 17:56:12",
                            "description": "UTC datetime value"
                          },
                          "scanned_pages": {
                            "type": "integer"
                          },
                          "processed_pages": {
                            "type": "integer"
                          },
                          "not_scanned_pages": {
                            "type": "integer"
                          },
                          "total_pages": {
                            "type": "integer"
                          },
                          "status": {
                            "type": "string",
                            "example": "Scanning"
                          },
                          "website_name": {
                            "type": "string",
                            "example": "My blog"
                          },
                          "website_public_id": {
                            "type": "string",
                            "example": "1234-1234-1234-1234"
                          },
                          "public_id": {
                            "type": "string",
                            "example": "1234-1234-1234-1234"
                          },
                          "started_at_formatted": {
                            "type": "string",
                            "example": "07/23/2020 1:00 PM"
                          },
                          "queued_at_formatted": {
                            "type": "string",
                            "example": "2 minutes ago"
                          },
                          "updated_at_formatted": {
                            "type": "string",
                            "example": "58 seconds ago"
                          },
                          "ended_at_formatted": {
                            "type": "string",
                            "example": "07/23/2020 1:00 PM"
                          }
                        }
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  }
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "data": [
                        {
                          "unparsed_duration": "00:01:35.000000",
                          "duration": "1m 35s",
                          "started_at": "2020-10-10 17:56:12",
                          "queued_at": "2020-10-10T17:55:54.000000Z",
                          "updated_at": "2020-10-10T17:55:54.000000Z",
                          "ended_at": "2020-10-10 17:56:12",
                          "scanned_pages": 0,
                          "processed_pages": 0,
                          "not_scanned_pages": 0,
                          "total_pages": 0,
                          "status": "Scanning",
                          "website_name": "My blog",
                          "website_public_id": "1234-1234-1234-1234",
                          "public_id": "1234-1234-1234-1234",
                          "started_at_formatted": "07/23/2020 1:00 PM",
                          "queued_at_formatted": "2 minutes ago",
                          "updated_at_formatted": "58 seconds ago",
                          "ended_at_formatted": "07/23/2020 1:00 PM"
                        }
                      ],
                      "meta": {
                        "pagination": {
                          "total": 0,
                          "per_page": 0,
                          "current_page": 0,
                          "last_page": 0,
                          "from": 0,
                          "to": 0,
                          "path": "string",
                          "links": {
                            "next": "string",
                            "previous": "string",
                            "first": "string",
                            "last": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "example": "Bearer [YOUR-ACCESS-TOKEN]"
            },
            "in": "header",
            "name": "Authorization",
            "description": "Your access token",
            "required": true
          },
          {
            "schema": {
              "type": "number",
              "default": 15,
              "minimum": 1,
              "maximum": 250
            },
            "in": "query",
            "name": "limit"
          },
          {
            "schema": {
              "type": "number",
              "default": 1,
              "minimum": 1
            },
            "in": "query",
            "name": "page"
          },
          {
            "schema": {
              "type": "string",
              "default": "all"
            },
            "in": "query",
            "name": "group_filter"
          },
          {
            "schema": {
              "type": "string",
              "default": "all"
            },
            "in": "query",
            "name": "website_filter"
          },
          {
            "schema": {
              "type": "string",
              "default": "all",
              "enum": [
                "all",
                "queued",
                "scanning",
                "finished"
              ]
            },
            "in": "query",
            "name": "status_filter"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "queued_at",
                "started_at"
              ]
            },
            "in": "query",
            "name": "sort_by"
          },
          {
            "schema": {
              "type": "string",
              "default": "desc",
              "enum": [
                "desc",
                "asc"
              ]
            },
            "in": "query",
            "name": "sort_direction"
          }
        ]
      }
    },
    "/organizations/{organizationSlug}/scans/{publicId}": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "organizationSlug",
          "in": "path",
          "required": true
        },
        {
          "schema": {
            "type": "string"
          },
          "name": "publicId",
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "summary": "Scan Details",
        "tags": [
          "Scans"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "public_id": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "queued",
                        "scanning",
                        "success",
                        "error",
                        "cancelling",
                        "cancelled"
                      ]
                    },
                    "total_pages": {
                      "type": "integer"
                    },
                    "scanned_pages": {
                      "type": "integer"
                    },
                    "processed_pages": {
                      "type": "integer"
                    },
                    "has_regions": {
                      "type": "boolean"
                    },
                    "scan_settings": {
                      "type": "object",
                      "properties": {
                        "viewport": {
                          "type": "integer"
                        },
                        "rate_limit": {
                          "type": "string"
                        },
                        "evaluation_delay": {
                          "type": "integer"
                        },
                        "hits_per_minute": {
                          "type": "integer"
                        },
                        "manual_rate_limit": {
                          "type": "integer"
                        },
                        "use_manual_rate_limit": {
                          "type": "boolean"
                        }
                      }
                    },
                    "started_at": {
                      "type": "string"
                    },
                    "ended_at": {
                      "type": "string"
                    },
                    "created_at": {
                      "type": "string"
                    },
                    "updated_at": {
                      "type": "string"
                    },
                    "duration": {
                      "type": "string"
                    },
                    "previous": {
                      "type": "string"
                    },
                    "diff": {
                      "type": "object"
                    },
                    "next": {
                      "type": "string"
                    },
                    "totals": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string"
                          },
                          "totals": {
                            "anyOf": [
                              {
                                "properties": {
                                  "aria": {
                                    "type": "integer"
                                  },
                                  "pages": {
                                    "type": "integer"
                                  },
                                  "alerts": {
                                    "type": "integer"
                                  },
                                  "errors": {
                                    "type": "integer"
                                  },
                                  "contrast": {
                                    "type": "integer"
                                  },
                                  "features": {
                                    "type": "integer"
                                  },
                                  "structural": {
                                    "type": "integer"
                                  },
                                  "total_elements": {
                                    "type": "integer"
                                  },
                                  "error_density": {
                                    "type": "string"
                                  }
                                }
                              },
                              {
                                "properties": {
                                  "result_slug": {
                                    "type": "object",
                                    "properties": {
                                      "name": {
                                        "type": "string"
                                      },
                                      "count": {
                                        "type": "integer"
                                      },
                                      "pages": {
                                        "type": "integer"
                                      }
                                    }
                                  }
                                }
                              }
                            ],
                            "type": "object"
                          }
                        }
                      }
                    },
                    "website": {
                      "type": "object",
                      "properties": {
                        "public_id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "full_url": {
                          "type": "string"
                        },
                        "hostname": {
                          "type": "string"
                        },
                        "protocol": {
                          "type": "string"
                        },
                        "notes": {
                          "type": "string"
                        },
                        "created_at": {
                          "type": "string"
                        },
                        "updated_at": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-organizations-organizationSlug-scans-publicId",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "example": "Bearer [YOUR-ACCESS-TOKEN]"
            },
            "in": "header",
            "name": "Authorization",
            "description": "Your access token\n",
            "required": true
          },
          {
            "schema": {
              "type": "string",
              "default": "all",
              "enum": [
                "all",
                "content",
                "template"
              ]
            },
            "in": "query",
            "name": "region_filter"
          }
        ]
      }
    },
    "/organizations/{organizationSlug}/reports/aggregates": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "organizationSlug",
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "summary": "Scan Aggregates",
        "tags": [
          "Dashboard"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "results": {
                          "type": "object",
                          "properties": {
                            "aria": {
                              "type": "object",
                              "properties": {
                                "total": {
                                  "type": "integer"
                                },
                                "items": {
                                  "type": "object"
                                }
                              }
                            },
                            "alerts": {
                              "type": "object",
                              "properties": {
                                "total": {
                                  "type": "integer"
                                },
                                "items": {
                                  "type": "object"
                                }
                              }
                            },
                            "errors": {
                              "type": "object",
                              "properties": {
                                "total": {
                                  "type": "integer"
                                },
                                "items": {
                                  "type": "object"
                                }
                              }
                            },
                            "contrast": {
                              "type": "object",
                              "properties": {
                                "total": {
                                  "type": "number"
                                },
                                "items": {
                                  "type": "object"
                                }
                              }
                            },
                            "features": {
                              "type": "object",
                              "properties": {
                                "total": {
                                  "type": "number"
                                },
                                "items": {
                                  "type": "object"
                                }
                              }
                            },
                            "structural": {
                              "type": "object",
                              "properties": {
                                "total": {
                                  "type": "number"
                                },
                                "items": {
                                  "type": "object"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "data": {
                        "results": {
                          "aria": {
                            "total": 4574,
                            "items": {
                              "aria": {
                                "name": "ARIA",
                                "count": 1175
                              },
                              "aria_menu": {
                                "name": "ARIA menu",
                                "count": 11
                              },
                              "aria_label": {
                                "name": "ARIA label",
                                "count": 869
                              },
                              "aria_button": {
                                "name": "ARIA button",
                                "count": 248
                              },
                              "aria_hidden": {
                                "name": "ARIA hidden",
                                "count": 953
                              },
                              "aria_popup": {
                                "name": "ARIA popup",
                                "count": 143
                              },
                              "aria_expanded": {
                                "name": "ARIA expanded",
                                "count": 216
                              },
                              "aria_tabindex": {
                                "name": "ARIA tabindex",
                                "count": 843
                              },
                              "aria_alert_or_live_region": {
                                "name": "ARIA alert or live region",
                                "count": 84
                              },
                              "aria_description": {
                                "name": "ARIA description",
                                "count": 32
                              }
                            }
                          },
                          "alerts": {
                            "total": 792,
                            "items": [
                              {
                                "name": "Redundant link",
                                "count": 275
                              },
                              {
                                "name": "Redundant title text",
                                "count": 205
                              },
                              {
                                "name": "Broken same-page link",
                                "count": 72
                              },
                              {
                                "name": "Very small text",
                                "count": 69
                              },
                              {
                                "name": "Possible heading",
                                "count": 41
                              },
                              {
                                "name": "Skipped heading level",
                                "count": 22
                              },
                              {
                                "name": "Link to PDF document",
                                "count": 21
                              },
                              {
                                "name": "Noscript element",
                                "count": 19
                              },
                              {
                                "name": "Orphaned form label",
                                "count": 17
                              },
                              {
                                "name": "Underlined text",
                                "count": 14
                              },
                              {
                                "name": "Missing first level heading",
                                "count": 7
                              },
                              {
                                "name": "Suspicious link text",
                                "count": 6
                              },
                              {
                                "name": "Fieldset missing legend",
                                "count": 6
                              },
                              {
                                "name": "Redundant alternative text",
                                "count": 4
                              },
                              {
                                "name": "Suspicious alternative text",
                                "count": 4
                              },
                              {
                                "name": "Layout table",
                                "count": 2
                              },
                              {
                                "name": "Missing fieldset",
                                "count": 2
                              },
                              {
                                "name": "Link to Word document",
                                "count": 2
                              },
                              {
                                "name": "Tabindex",
                                "count": 1
                              },
                              {
                                "name": "No page regions",
                                "count": 1
                              },
                              {
                                "name": "Long alternative text",
                                "count": 1
                              },
                              {
                                "name": "HTML5 video or audio",
                                "count": 1
                              }
                            ]
                          },
                          "errors": {
                            "total": 2791,
                            "items": [
                              {
                                "name": "Empty link",
                                "count": 2708
                              },
                              {
                                "name": "Missing form label",
                                "count": 45
                              },
                              {
                                "name": "Missing alternative text",
                                "count": 16
                              },
                              {
                                "name": "Linked image missing alternative text",
                                "count": 10
                              },
                              {
                                "name": "Multiple form labels",
                                "count": 4
                              },
                              {
                                "name": "Empty heading",
                                "count": 4
                              },
                              {
                                "name": "Empty button",
                                "count": 4
                              }
                            ]
                          },
                          "contrast": {
                            "total": 305,
                            "items": {
                              "very_low_contrast": {
                                "name": "Very Low Contrast",
                                "count": 305
                              }
                            }
                          },
                          "features": {
                            "total": 989,
                            "items": {
                              "fieldset": {
                                "name": "Fieldset",
                                "count": 10
                              },
                              "null_or_empty_alternative_text": {
                                "name": "Null or empty alternative text",
                                "count": 515
                              },
                              "linked_image_with_alternative_text": {
                                "name": "Linked image with alternative text",
                                "count": 84
                              },
                              "alternative_text": {
                                "name": "Alternative text",
                                "count": 198
                              },
                              "skip_link": {
                                "name": "Skip link",
                                "count": 5
                              },
                              "form_label": {
                                "name": "Form label",
                                "count": 171
                              },
                              "skip_link_target": {
                                "name": "Skip link target",
                                "count": 5
                              },
                              "null_or_empty_alternative_text_on_spacer": {
                                "name": "Null or empty alternative text on spacer",
                                "count": 1
                              }
                            }
                          },
                          "structural": {
                            "total": 1595,
                            "items": {
                              "navigation": {
                                "name": "Navigation",
                                "count": 135
                              },
                              "ordered_list": {
                                "name": "Ordered list",
                                "count": 38
                              },
                              "unordered_list": {
                                "name": "Unordered list",
                                "count": 592
                              },
                              "heading_level_1": {
                                "name": "Heading level 1",
                                "count": 62
                              },
                              "heading_level_2": {
                                "name": "Heading level 2",
                                "count": 279
                              },
                              "heading_level_3": {
                                "name": "Heading level 3",
                                "count": 105
                              },
                              "definitiondescription_list": {
                                "name": "Definition/description list",
                                "count": 3
                              },
                              "footer": {
                                "name": "Footer",
                                "count": 17
                              },
                              "inline_frame": {
                                "name": "Inline Frame",
                                "count": 42
                              },
                              "heading_level_4": {
                                "name": "Heading level 4",
                                "count": 77
                              },
                              "header": {
                                "name": "Header",
                                "count": 62
                              },
                              "search": {
                                "name": "Search",
                                "count": 3
                              },
                              "main_content": {
                                "name": "Main content",
                                "count": 48
                              },
                              "data_table": {
                                "name": "Data table",
                                "count": 17
                              },
                              "heading_level_5": {
                                "name": "Heading level 5",
                                "count": 1
                              },
                              "heading_level_6": {
                                "name": "Heading level 6",
                                "count": 10
                              },
                              "table_header_cell": {
                                "name": "Table header cell",
                                "count": 81
                              },
                              "aside": {
                                "name": "Aside",
                                "count": 23
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "results": {
                          "type": "object",
                          "properties": {
                            "aria": {
                              "type": "object",
                              "properties": {
                                "total": {
                                  "type": "integer"
                                },
                                "items": {
                                  "type": "object"
                                }
                              }
                            },
                            "alerts": {
                              "type": "object",
                              "properties": {
                                "total": {
                                  "type": "integer"
                                },
                                "items": {
                                  "type": "object"
                                }
                              }
                            },
                            "errors": {
                              "type": "object",
                              "properties": {
                                "tota": {
                                  "type": "integer"
                                },
                                "items": {
                                  "type": "object"
                                }
                              }
                            },
                            "contrast": {
                              "type": "object",
                              "properties": {
                                "total": {
                                  "type": "integer"
                                },
                                "items": {
                                  "type": "object"
                                }
                              }
                            },
                            "features": {
                              "type": "object",
                              "properties": {
                                "total": {
                                  "type": "integer"
                                },
                                "items": {
                                  "type": "object"
                                }
                              }
                            },
                            "structural": {
                              "type": "object",
                              "properties": {
                                "total": {
                                  "type": "integer"
                                },
                                "items": {
                                  "type": "object"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "data": {
                        "results": {
                          "aria": {
                            "total": 4574,
                            "items": {
                              "aria": {
                                "name": "ARIA",
                                "count": 1175
                              },
                              "aria_menu": {
                                "name": "ARIA menu",
                                "count": 11
                              },
                              "aria_label": {
                                "name": "ARIA label",
                                "count": 869
                              },
                              "aria_button": {
                                "name": "ARIA button",
                                "count": 248
                              },
                              "aria_hidden": {
                                "name": "ARIA hidden",
                                "count": 953
                              },
                              "aria_popup": {
                                "name": "ARIA popup",
                                "count": 143
                              },
                              "aria_expanded": {
                                "name": "ARIA expanded",
                                "count": 216
                              },
                              "aria_tabindex": {
                                "name": "ARIA tabindex",
                                "count": 843
                              },
                              "aria_alert_or_live_region": {
                                "name": "ARIA alert or live region",
                                "count": 84
                              },
                              "aria_description": {
                                "name": "ARIA description",
                                "count": 32
                              }
                            }
                          },
                          "alerts": {
                            "total": 792,
                            "items": [
                              {
                                "name": "Redundant link",
                                "count": 275
                              },
                              {
                                "name": "Redundant title text",
                                "count": 205
                              },
                              {
                                "name": "Broken same-page link",
                                "count": 72
                              },
                              {
                                "name": "Very small text",
                                "count": 69
                              },
                              {
                                "name": "Possible heading",
                                "count": 41
                              },
                              {
                                "name": "Skipped heading level",
                                "count": 22
                              },
                              {
                                "name": "Link to PDF document",
                                "count": 21
                              },
                              {
                                "name": "Noscript element",
                                "count": 19
                              },
                              {
                                "name": "Orphaned form label",
                                "count": 17
                              },
                              {
                                "name": "Underlined text",
                                "count": 14
                              },
                              {
                                "name": "Missing first level heading",
                                "count": 7
                              },
                              {
                                "name": "Suspicious link text",
                                "count": 6
                              },
                              {
                                "name": "Fieldset missing legend",
                                "count": 6
                              },
                              {
                                "name": "Redundant alternative text",
                                "count": 4
                              },
                              {
                                "name": "Suspicious alternative text",
                                "count": 4
                              },
                              {
                                "name": "Layout table",
                                "count": 2
                              },
                              {
                                "name": "Missing fieldset",
                                "count": 2
                              },
                              {
                                "name": "Link to Word document",
                                "count": 2
                              },
                              {
                                "name": "Tabindex",
                                "count": 1
                              },
                              {
                                "name": "No page regions",
                                "count": 1
                              },
                              {
                                "name": "Long alternative text",
                                "count": 1
                              },
                              {
                                "name": "HTML5 video or audio",
                                "count": 1
                              }
                            ]
                          },
                          "errors": {
                            "total": 2791,
                            "items": [
                              {
                                "name": "Empty link",
                                "count": 2708
                              },
                              {
                                "name": "Missing form label",
                                "count": 45
                              },
                              {
                                "name": "Missing alternative text",
                                "count": 16
                              },
                              {
                                "name": "Linked image missing alternative text",
                                "count": 10
                              },
                              {
                                "name": "Multiple form labels",
                                "count": 4
                              },
                              {
                                "name": "Empty heading",
                                "count": 4
                              },
                              {
                                "name": "Empty button",
                                "count": 4
                              }
                            ]
                          },
                          "contrast": {
                            "total": 305,
                            "items": {
                              "very_low_contrast": {
                                "name": "Very Low Contrast",
                                "count": 305
                              }
                            }
                          },
                          "features": {
                            "total": 989,
                            "items": {
                              "fieldset": {
                                "name": "Fieldset",
                                "count": 10
                              },
                              "null_or_empty_alternative_text": {
                                "name": "Null or empty alternative text",
                                "count": 515
                              },
                              "linked_image_with_alternative_text": {
                                "name": "Linked image with alternative text",
                                "count": 84
                              },
                              "alternative_text": {
                                "name": "Alternative text",
                                "count": 198
                              },
                              "skip_link": {
                                "name": "Skip link",
                                "count": 5
                              },
                              "form_label": {
                                "name": "Form label",
                                "count": 171
                              },
                              "skip_link_target": {
                                "name": "Skip link target",
                                "count": 5
                              },
                              "null_or_empty_alternative_text_on_spacer": {
                                "name": "Null or empty alternative text on spacer",
                                "count": 1
                              }
                            }
                          },
                          "structural": {
                            "total": 1595,
                            "items": {
                              "navigation": {
                                "name": "Navigation",
                                "count": 135
                              },
                              "ordered_list": {
                                "name": "Ordered list",
                                "count": 38
                              },
                              "unordered_list": {
                                "name": "Unordered list",
                                "count": 592
                              },
                              "heading_level_1": {
                                "name": "Heading level 1",
                                "count": 62
                              },
                              "heading_level_2": {
                                "name": "Heading level 2",
                                "count": 279
                              },
                              "heading_level_3": {
                                "name": "Heading level 3",
                                "count": 105
                              },
                              "definitiondescription_list": {
                                "name": "Definition/description list",
                                "count": 3
                              },
                              "footer": {
                                "name": "Footer",
                                "count": 17
                              },
                              "inline_frame": {
                                "name": "Inline Frame",
                                "count": 42
                              },
                              "heading_level_4": {
                                "name": "Heading level 4",
                                "count": 77
                              },
                              "header": {
                                "name": "Header",
                                "count": 62
                              },
                              "search": {
                                "name": "Search",
                                "count": 3
                              },
                              "main_content": {
                                "name": "Main content",
                                "count": 48
                              },
                              "data_table": {
                                "name": "Data table",
                                "count": 17
                              },
                              "heading_level_5": {
                                "name": "Heading level 5",
                                "count": 1
                              },
                              "heading_level_6": {
                                "name": "Heading level 6",
                                "count": 10
                              },
                              "table_header_cell": {
                                "name": "Table header cell",
                                "count": 81
                              },
                              "aside": {
                                "name": "Aside",
                                "count": 23
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-organizations-organizationSlug-reports-aggregates",
        "description": "",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "example": "Bearer [YOUR-ACCESS-TOKEN]"
            },
            "in": "header",
            "name": "Authorization",
            "description": "Your access token\n",
            "required": true
          },
          {
            "schema": {
              "type": "string",
              "default": "all"
            },
            "in": "query",
            "name": "group_filter",
            "description": "Public ID of group to filter results by"
          },
          {
            "schema": {
              "type": "string",
              "default": "all"
            },
            "in": "query",
            "name": "website_filter",
            "description": "Public ID of website to filter results by"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "all",
                "template",
                "content"
              ]
            },
            "in": "query",
            "name": "region_filter",
            "description": "Type of region to filter results by"
          },
          {
            "schema": {
              "type": "string",
              "example": "2021-03-01"
            },
            "in": "query",
            "name": "date_filter",
            "description": "Date to filter results by (YYYY-MM-DD)"
          }
        ]
      }
    },
    "/organizations/{organizationSlug}": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "organizationSlug",
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "summary": "Organization Details",
        "tags": [
          "Organizations"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "public_id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "slug": {
                          "type": "string"
                        },
                        "state": {
                          "type": "string"
                        },
                        "created_at": {
                          "type": "string"
                        },
                        "updated_at": {
                          "type": "string"
                        },
                        "cobranding_logo": {
                          "type": "object",
                          "properties": {
                            "light_public_url": {
                              "type": "string"
                            },
                            "dark_public_url": {
                              "type": "string"
                            },
                            "created_at": {
                              "type": "string"
                            },
                            "updated_at": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-organizations-organizationSlug",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "example": "Bearer [YOUR-ACCESS-TOKEN]"
            },
            "in": "header",
            "name": "Authorizaion",
            "description": "Your access token\n",
            "required": true
          }
        ]
      }
    },
    "/organizations/{organizationSlug}/reports/time": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "organizationSlug",
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "summary": "Issues Over Time",
        "tags": [
          "Dashboard"
        ],
        "responses": {},
        "operationId": "get-organizations-organizationSlug-reports-time",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "example": "Bearer [YOUR-ACCESS-TOKEN]"
            },
            "in": "header",
            "name": "Authorization",
            "description": "Your access token\n",
            "required": true
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "year",
                "quarter",
                "month",
                "week",
                "day"
              ]
            },
            "in": "query",
            "name": "granularity",
            "description": "The granularity of datapoints"
          },
          {
            "schema": {
              "type": "string",
              "example": "2020-01-01",
              "format": "date"
            },
            "in": "query",
            "name": "start",
            "description": "Start date"
          },
          {
            "schema": {
              "type": "string",
              "example": "2020-06-01",
              "format": "date"
            },
            "in": "query",
            "name": "end",
            "description": "End date"
          },
          {
            "schema": {
              "type": "string",
              "default": "all"
            },
            "in": "query",
            "name": "group_filter",
            "description": "Public ID of group to filter results by"
          },
          {
            "schema": {
              "type": "string",
              "default": "all"
            },
            "in": "query",
            "name": "website_filter",
            "description": "Public ID of website to filter results by"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "all",
                "template",
                "content"
              ],
              "default": "all"
            },
            "in": "query",
            "name": "region_filter",
            "description": "Type of region to filter results by"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "description": "Result category of the graph data"
                        },
                        "series": {
                          "type": "array",
                          "description": "Timeseries data points",
                          "items": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string",
                                "description": "The date for the data point"
                              },
                              "value": {
                                "type": "string",
                                "description": "The data point value"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "examples": {
                "example-1": {
                  "value": {
                    "data": [
                      {
                        "name": "Errors",
                        "series": [
                          {
                            "name": "2020-04-22 15:17:00",
                            "value": 0
                          },
                          {
                            "name": "2020-05-27 15:17:00",
                            "value": 2509
                          },
                          {
                            "name": "2020-06-03 15:17:00",
                            "value": 2510
                          },
                          {
                            "name": "2020-06-10 15:17:00",
                            "value": 2515
                          },
                          {
                            "name": "2020-06-17 15:17:00",
                            "value": 2514
                          },
                          {
                            "name": "2020-06-24 15:17:00",
                            "value": 8
                          },
                          {
                            "name": "2020-07-01 15:17:00",
                            "value": 76
                          },
                          {
                            "name": "2020-07-08 15:17:00",
                            "value": 2589
                          },
                          {
                            "name": "2020-07-15 15:17:00",
                            "value": 2808
                          },
                          {
                            "name": "2020-07-22 15:17:00",
                            "value": 2833
                          },
                          {
                            "name": "2020-07-29 15:17:00",
                            "value": 2791
                          }
                        ]
                      },
                      {
                        "name": "Contrast",
                        "series": [
                          {
                            "name": "2020-04-22 15:17:00",
                            "value": 80
                          },
                          {
                            "name": "2020-05-27 15:17:00",
                            "value": 264
                          },
                          {
                            "name": "2020-06-03 15:17:00",
                            "value": 279
                          },
                          {
                            "name": "2020-06-10 15:17:00",
                            "value": 326
                          },
                          {
                            "name": "2020-06-17 15:17:00",
                            "value": 280
                          },
                          {
                            "name": "2020-06-24 15:17:00",
                            "value": 102
                          },
                          {
                            "name": "2020-07-01 15:17:00",
                            "value": 43
                          },
                          {
                            "name": "2020-07-08 15:17:00",
                            "value": 263
                          },
                          {
                            "name": "2020-07-15 15:17:00",
                            "value": 275
                          },
                          {
                            "name": "2020-07-22 15:17:00",
                            "value": 299
                          },
                          {
                            "name": "2020-07-29 15:17:00",
                            "value": 305
                          }
                        ]
                      },
                      {
                        "name": "Alerts",
                        "series": [
                          {
                            "name": "2020-04-22 15:17:00",
                            "value": 15
                          },
                          {
                            "name": "2020-05-27 15:17:00",
                            "value": 380
                          },
                          {
                            "name": "2020-06-03 15:17:00",
                            "value": 398
                          },
                          {
                            "name": "2020-06-10 15:17:00",
                            "value": 402
                          },
                          {
                            "name": "2020-06-17 15:17:00",
                            "value": 77
                          },
                          {
[...]
